<div>
    <button data-bind="click: History.back">&lt; Back</button>
    <h1 data-bind="text: name"></h1>
</div>

<div>
    <p>Name #<strong data-bind="text: name"></strong></p>

    <div data-bind='simpleGrid: gridViewModel'> </div>
</div>
